<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">		
</head>
<body>
    <h1>About Me</h1>
    <p>As a Data Scientist, I have demonstrated proficiency in Python development, specializing in creating automation proof-of-concepts (POCs) to streamline processes. Work experience in Unix shell scripting with python. My responsibilities encompassed utilizing SQL for efficient data retrieval, manipulation, and transformation, showcasing my expertise in ETL data analysis. Additionally, I have successfully contributed to the enhancement of data-driven decision-making by designing and implementing insightful dashboards using Tableau. Through these roles, I have consistently ensured data accuracy, completeness, and reliability while collaborating cross-functionally to understand and address business requirements. My commitment to staying at the forefront of technology and leveraging these skills has enabled me to contribute effectively to data-driven initiatives within diverse organizational settings.</p>
</body>
</html>
