<!-- projects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Projects</h1>
    <h2>Project 1: DNC Web Automation</h2>
    <p>Description: Web Automation using python- Selenium, It was complete automation work from opening web page till downloading and saving files to folders on daily basis through Python automation.</p>
    <p>Technologies: Python, BeautifulSoup,Selenium</p>
    <h2>Project 2: Operational Traceability</h2>
    <p>Description: Successfully designed and implemented a directed graph data structure using NetworkX python library to model complex job scheduling relationships.\n Developed robust functions to analyze job dependencies, providing insights into immediate predecessors and list of successors including all leaf nodes.</p>
    <p>Technologies: Python, NetworkX</p>
</body>
</html>
